<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Order_id %>
    <%= form.number_field :Order_id %>
  </div>

  <div class="field">
    <%= form.label :Customer_id %>
    <%= form.text_field :Customer_id %>
  </div>

  <div class="field">
    <%= form.label :Payment_id %>
    <%= form.text_field :Payment_id %>
  </div>

  <div class="field">
    <%= form.label :Order_Date %>
    <%= form.date_select :Order_Date %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.text_field :Status %>
  </div>

  <div class="field">
    <%= form.label :Comments %>
    <%= form.text_field :Comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
