<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.Product_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.Supplier_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.Name %>
</p>

<p>
  <strong>Qty in stock:</strong>
  <%= @product.Qty_in_Stock %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @product.Buy_Price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.Description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
